//@import url('https://fonts.cdnfonts.com/css/pt-root-ui');

@import 'blocks';
@import 'media';
@import "fonts";

* {
  box-sizing: border-box;
  margin: 0;
  cursor: inherit;
  font-family: 'PT Root UI', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'PT Root UI', sans-serif;
  overflow-x: hidden;
  color: #303239;
  cursor: default;
  position: relative;

  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  min-height: 100vh;

}

.lock {
  overflow: hidden;
}

.burger-menu {
  display: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px; /* 114.286% */
}

h2 {
  color: #2C3336;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h3 {
  color: #2C3336;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

h4 {
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}